
@font-face {
  font-family: "Telus-Web-Reg";
  src: url("./assets//fonts/Telus-font/Telus-Web-Reg.ttf");
}

.form-select {
  width: 4rem !important;
}
body {
  font-family: "Telus-Web-Reg" !important;
  /* -webkit-font-smoothing: */
}

.accordian-header .accordian-button {
  background-color: none !important;
  padding: 0.5rem 1.25rem !important;
}
.alert {
  position: fixed !important;
  border-radius: 0.25rem !important;
  top: 5rem !important;
  right: 40% !important;
  z-index: 23;
}
/* .accordion-button {
  padding: 0.5rem 1rem !important;
}
.accordion-button::after {
  margin-left: 2rem !important;
  background-size: 1rem !important;
} */
.curser-pointer {
  cursor: pointer;
}
.min-width-10 {
  min-width: 10rem;
}
.css-b62m3t-container {
  width: 20rem;
}
.accordion-header button {
  display: flex;
  justify-content: space-between;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}